.login-form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.login-form-field-container {
    margin: 15px auto;
}